/* App.css */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  padding: 16px;
}

.resize-message {
  display: none;
}

@media (max-width: 480px) {
  .resize-message {
    display: none;
  }
}

@media (min-width: 481px) {
  .app > * {
    display: none;
  }

  .resize-message {
    display: block;
    margin-top: 20%;
    font-size: 1.2em;
    color: #555;
  }
}
