/* Footer.css */
.footer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: #eef4f7;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 24px;
  color: #ccc;
}

.icon.active {
  color: #007aff;
}
